.container{
    -webkit-box-ordinal-group: 2;
    grid-area: body;
    margin-bottom: 1rem;
    position: relative;
    width:90%;
    padding: 0 8px;
    height: 10em;
    
    display:flex;
   
    border:1px;
}
.img{
    
    
    box-sizing: content-box;
    margin:10px;
    padding:3px;
}

.logo{
    display: flex;
}